@page "/"
@namespace Server
@using Bolero.Server.RazorHost
@inject IBoleroHostConfig BoleroHostConfig
<!DOCTYPE html>
<html lang="en">
<head>
    <title>F# Todo app</title>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="base.css" />
    <link rel="stylesheet" type="text/css" href="index.css" />
</head>
<body id="main">
    <section class="todoapp">
        @(await Html.RenderComponentAsync<Web.Program.Component>(BoleroHostConfig))
    </section>
    <footer class="info">
        <p>Double-click to edit a todo</p>
    </footer>
    
    @Html.RenderBoleroScript(BoleroHostConfig)
</body>
</html>    